#game {
    font-family: 'uni05';
    position: relative;
    height: 420px;
    width: 840px;
    padding: 30px 30px 0 30px;
}

.panel img {
    height: 288px;
    margin: 0;
    float: left;
}

.panel .small-morph {
    height: 144px;
    position: absolute;
    left: 0;
    top: 144px;
    bottom: 0;
}
.panel .small-morph2 {
    height: 144px;
    margin: 144px 0 0 50px;
}

.panel {
    position: relative;
    display: none;
    overflow: hidden;
}

.panel h1 {
    margin-top: 0;
    line-height: 1em;
    font-size: 1.6em;
}

.panel .text {
    width: 328px;
    position: absolute;
    right: 30px;
}

.panel.active {
    display: block;
}

.thumbs-wrapper {
    overflow: hidden;
    border-top: 1px solid #0f0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbs {
    height: 105px;
    width: 900px;
    overflow: auto;
    -wekbit-overflow-scrolling: touch;
}
.thumbs-inner {
    width: 1275px;
    padding: 0 20px;
}

.thumbs .selector {
    float: left;
    padding: 10px;
    width: 45px;
    margin: 12px 10px;
}

.thumbs img {
    width: 100%;
    float: left;
}

.selector.active {
    border: 2px solid #fff;
    margin: 10px 8px;
}
