body {
    margin: 0;
    font-family: sans-serif;
}

#canvas {
    cursor: pointer;
    float: left;
    z-index: 2;
    background: url(../img/bg2.png);
    margin-top: 44px;
    margin-left: 269px;
    border: 1px solid #222;
}

#tools {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 136px;
}

#tools a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin: 0 10px;
}

#pallette {
    margin-top: 10px;
}

#pallette .color {
    display: inline-block;
    border: 1px solid #fff;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#active-color {
    border: 2px solid white;
    width: 28px;
    height: 28px;
    margin: 2px;
}

.color.eraser {
    background: url(../img/eraser.png) no-repeat;
    background-size: 100% 100%;
}
