<script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/webpro.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/vmouse.js"></script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33073396-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    var $header = $( 'header' ),
      $navControl = $( '.nav-control' ),
      toggleClosed = false;
    $header.on( 'click', function( evt ) {
      if ( evt.target.href == '#' ) {
        evt.preventDefault();
      }
      if ( $header.hasClass( 'nav-open' ) ) {
        toggleClosed = true;
      }
      $header.toggleClass( 'nav-open' );
      if ( toggleClosed ) {
        $header.toggleClass( 'nav-close' );
      }
    });
    var tg = new WebPro.Widget.TabGroup( '.thumbs .selector', { checkedClass: 'active' } ),
      pg = new WebPro.Widget.PanelGroup( '.panel', { activeClass: 'active', tabGroups: [ tg ] } );
  });
</script>
