.highlight { overflow-x: auto; color: black; padding: 20px;border: 1px solid #444444;}
.highlight pre  { color: #d0d0d0; white-space: pre; line-height: 1.05em; word-wrap: normal}
.highlight pre code {font-family: 'droid-sans-mono', monospace; font-size: 0.8em;line-height: 0.8em;}
.highlight pre .c { color: #999999; font-style: italic } /* Comment */
.highlight pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight pre .g { color: #d0d0d0 } /* Generic */
.highlight pre .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight pre .l { color: #d0d0d0 } /* Literal */
.highlight pre .n { color: #d0d0d0 } /* Name */
.highlight pre .o { color: #d0d0d0 } /* Operator */
.highlight pre .x { color: #d0d0d0 } /* Other */
.highlight pre .p { color: #d0d0d0 } /* Punctuation */
.highlight pre .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight pre .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight pre .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight pre .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight pre .gd { color: #d22323 } /* Generic.Deleted */
.highlight pre .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight pre .gr { color: #d22323 } /* Generic.Error */
.highlight pre .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight pre .gi { color: #589819 } /* Generic.Inserted */
.highlight pre .go { color: #cccccc } /* Generic.Output */
.highlight pre .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight pre .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight pre .gt { color: #d22323 } /* Generic.Traceback */
.highlight pre .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight pre .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight pre .ld { color: #d0d0d0 } /* Literal.Date */
.highlight pre .m { color: #3677a9 } /* Literal.Number */
.highlight pre .s { color: #ed9d13 } /* Literal.String */
.highlight pre .na { color: #bbbbbb } /* Name.Attribute */
.highlight pre .nb { color: #24909d } /* Name.Builtin */
.highlight pre .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight pre .no { color: #40ffff } /* Name.Constant */
.highlight pre .nd { color: #ffa500 } /* Name.Decorator */
.highlight pre .ni { color: #d0d0d0 } /* Name.Entity */
.highlight pre .ne { color: #bbbbbb } /* Name.Exception */
.highlight pre .nf { color: #447fcf } /* Name.Function */
.highlight pre .nl { color: #d0d0d0 } /* Name.Label */
.highlight pre .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight pre .nx { color: #d0d0d0 } /* Name.Other */
.highlight pre .py { color: #d0d0d0 } /* Name.Property */
.highlight pre .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight pre .nv { color: #40ffff } /* Name.Variable */
.highlight pre .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight pre .w { color: #666666 } /* Text.Whitespace */
.highlight pre .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight pre .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight pre .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight pre .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight pre .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight pre .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight pre .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight pre .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight pre .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight pre .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight pre .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight pre .sx { color: #ffa500 } /* Literal.String.Other */
.highlight pre .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight pre .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight pre .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight pre .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #40ffff } /* Name.Variable.Class */
.highlight pre .vg { color: #40ffff } /* Name.Variable.Global */
.highlight pre .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight pre .il { color: #3677a9 } /* Literal.Number.Integer.Long */

table.code td .hll { background-color: #404040 }
table.code td  { background: #202020; color: #d0d0d0 }
table.code td .c { color: #999999; font-style: italic } /* Comment */
table.code td .err { color: #a61717; background-color: #e3d2d2 } /* Error */
table.code td .g { color: #d0d0d0 } /* Generic */
table.code td .k { color: #6ab825; font-weight: bold } /* Keyword */
table.code td .l { color: #d0d0d0 } /* Literal */
table.code td .n { color: #d0d0d0 } /* Name */
table.code td .o { color: #d0d0d0 } /* Operator */
table.code td .x { color: #d0d0d0 } /* Other */
table.code td .p { color: #d0d0d0 } /* Punctuation */
table.code td .cm { color: #999999; font-style: italic } /* Comment.Multiline */
table.code td .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
table.code td .c1 { color: #999999; font-style: italic } /* Comment.Single */
table.code td .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
table.code td .gd { color: #d22323 } /* Generic.Deleted */
table.code td .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
table.code td .gr { color: #d22323 } /* Generic.Error */
table.code td .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
table.code td .gi { color: #589819 } /* Generic.Inserted */
table.code td .go { color: #cccccc } /* Generic.Output */
table.code td .gp { color: #aaaaaa } /* Generic.Prompt */
table.code td .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
table.code td .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
table.code td .gt { color: #d22323 } /* Generic.Traceback */
table.code td .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
table.code td .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
table.code td .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
table.code td .kp { color: #6ab825 } /* Keyword.Pseudo */
table.code td .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
table.code td .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
table.code td .ld { color: #d0d0d0 } /* Literal.Date */
table.code td .m { color: #3677a9 } /* Literal.Number */
table.code td .s { color: #ed9d13 } /* Literal.String */
table.code td .na { color: #bbbbbb } /* Name.Attribute */
table.code td .nb { color: #24909d } /* Name.Builtin */
table.code td .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
table.code td .no { color: #40ffff } /* Name.Constant */
table.code td .nd { color: #ffa500 } /* Name.Decorator */
table.code td .ni { color: #d0d0d0 } /* Name.Entity */
table.code td .ne { color: #bbbbbb } /* Name.Exception */
table.code td .nf { color: #447fcf } /* Name.Function */
table.code td .nl { color: #d0d0d0 } /* Name.Label */
table.code td .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
table.code td .nx { color: #d0d0d0 } /* Name.Other */
table.code td .py { color: #d0d0d0 } /* Name.Property */
table.code td .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
table.code td .nv { color: #40ffff } /* Name.Variable */
table.code td .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
table.code td .w { color: #666666 } /* Text.Whitespace */
table.code td .mf { color: #3677a9 } /* Literal.Number.Float */
table.code td .mh { color: #3677a9 } /* Literal.Number.Hex */
table.code td .mi { color: #3677a9 } /* Literal.Number.Integer */
table.code td .mo { color: #3677a9 } /* Literal.Number.Oct */
table.code td .sb { color: #ed9d13 } /* Literal.String.Backtick */
table.code td .sc { color: #ed9d13 } /* Literal.String.Char */
table.code td .sd { color: #ed9d13 } /* Literal.String.Doc */
table.code td .s2 { color: #ed9d13 } /* Literal.String.Double */
table.code td .se { color: #ed9d13 } /* Literal.String.Escape */
table.code td .sh { color: #ed9d13 } /* Literal.String.Heredoc */
table.code td .si { color: #ed9d13 } /* Literal.String.Interpol */
table.code td .sx { color: #ffa500 } /* Literal.String.Other */
table.code td .sr { color: #ed9d13 } /* Literal.String.Regex */
table.code td .s1 { color: #ed9d13 } /* Literal.String.Single */
table.code td .ss { color: #ed9d13 } /* Literal.String.Symbol */
table.code td .bp { color: #24909d } /* Name.Builtin.Pseudo */
table.code td .vc { color: #40ffff } /* Name.Variable.Class */
table.code td .vg { color: #40ffff } /* Name.Variable.Global */
table.code td .vi { color: #40ffff } /* Name.Variable.Instance */
table.code td .il { color: #3677a9 } /* Literal.Number.Integer.Long */
