html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Myriad Pro, Helvetica, Arial, sans-serif;
  background-color: #111;
  color: #f7f7f7;
}

#buffer {
  height: 50%;
}

#game {
  height: 450px;
  width: 900px;
  margin: 0 auto;
  position: relative;
  top: -225px;
  border: 1px solid #0f0;
}
