#game-wrapper {
  overflow: hidden;
  width: 900px;
  height: 465px;
  margin: 0 auto;
  position: relative;
  top: -225px;
  box-shadow: 0 0 0 1px #0f0;
}

#game {
  box-shadow: none;
  top: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 15px;
}

#panel {
  height: 435px;
  width: 58px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -550px;
  margin-top: -226px;
  border: 1px solid #0f0;
}

#tools {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  overflow: hidden;
}

#sprites {
  overflow: hidden;
  margin-top: 10px;
}

.sprite, .tool {
  float: left;
  padding: 3px;
}

.sprite img, .tool img {
  display: block;
}

.sprite:nth-child(2n), .tool:nth-child(2n) {
  margin-left: 10px;
}

.sprite.active, .tool.active {
  padding: 2px;
  border: 1px solid #0f0;
}

#rectangle-tool {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 2px solid white;
  display: none;
  position: absolute;
}

#add-column, #remove-column {
  border: 1px solid white;
  padding: 3px 8px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -226px;
  margin-right: -485px;
  font-family: monospace;
  font-size: 1.3em;
}

#remove-column {
  margin-top: -190px;
}

#columns {
  border: none;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -250px;
  margin-right: -485px;
  width: 28px;
  background: transparent;
  border: 1px solid white;
  color: white;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}
